<h2>トピック一覧</h2>
<ul>
  <% @topics.each do |topic| %>
    <li><%= link_to topic.title, topics_show_path(topic.id) %></li>
  <% end %>
</ul>

<h1>トピック新規登録</h1>
<%= form_for @newTopic, :url => {:action => 'create'} do |f| %>
  <%= f.text_field :title %>
  <%= f.submit %>
<% end %>
