<div class="container">
  <h2 class="center">トピック新規登録</h2>

  <%= form_for @newTopic, url: {controller: 'topics', action: 'create'} do |f| %>
    <label>タイトル</label>
    <%= f.text_field :title, :class => 'form-control' %>
    <%= f.submit(['新しいトピックを追加'], :class => 'topic_form_input')%>
  <% end %>

  <%= link_to 'HOME', home_index_url %>
</div>
