<div class="container">
  <h2 class="contest_title">トピック一覧</h2>
  <table class="table">
    <thead>
      <tr>
        <th>タイトル</th>
      </tr>
    </thead>
    <tbody>
      <% @contests.each do |contest| %>
      <tr>
        <td><%= link_to contest.title, contests_show_path(contest.id) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div class="text-center">
    <%= link_to "新しいトピックを作成する", contests_new_path %>
  </div>
</div>
