<div class="container">
  <h2 class="topic_title">トピック一覧</h2>
  <table class="table">
    <thead>
      <tr>
        <th>タイトル</th>
      </tr>
    </thead>
    <tbody>
      <% @topics.each do |topic| %>
      <tr>
        <td><%= link_to topic.title, topics_show_path(topic.id) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div>
    <%= link_to "新しいトピックを作成する", topics_new_path %>
  </div>
</div>
