<div class="container">
  <h2 class="topic_title">トピック一覧</h2>
  <% @topics.each do |topic| %>
    <div class="topic_content">
      <%= link_to topic.title, topics_show_path(topic.id) %>
      <!-- <%= link_to '[削除]', topic_delete_path(topic.id), method: :delete, data: {confirm: "削除してもよろしいですか？"} %> -->
    </div>
  <% end %>

  <div class="center">
    <%= link_to "新しいトピックを作成する", topics_new_path %>
  </div>
</div>
