<div class="container">
  <h1>管理画面トップページ</h1>

  <!-- ToDo: ユーザーモデルを作成後に一覧画面を作成 -->
  <ul>
    <li>
      <%= link_to 'ユーザーの一覧画面に飛ぶ', admin_home_index_path %>
    </li>
    <li>
      <%= link_to 'トピックの一覧画面に飛ぶ', admin_topics_index_path %>
    </li>
  </ul>
</div>
