<div class="container">
  <h1>Admin::Home#index</h1>
  <p>Find me in app/views/admin/home/index.html.erb</p>

  <!-- ToDo: ユーザーモデルを作成後に一覧画面を作成 -->
  <%= link_to 'ユーザーの一覧画面に飛ぶ', admin_home_index_path %>
  <%= link_to 'トピックの一覧画面に飛ぶ', admin_topics_index_path %>
</div>
