// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

// ToDo: contestの方に移行する必要あり
.jumbotron {
  padding-left: 0;
  padding-right: 0;
}

.chat-hukidashi {
  display: inline-block; /*コメントの文字数に合わせて可変*/
  padding: 15px 20px;
  margin-left: 10px;
  margin-top: 10px;
  border: 1px solid gray;
  border-radius: 10px;
}

#textarea {
  border-radius: 10px;
  vertical-align: middle;
  height: 40px;
  max-height: 200px;
  line-height: 35px;
  width: 85%;
}

.submit {
  height: 40px;
  border-radius: 10px;
}

.background-chat {
  background-color: rgba(#0c5c66, 0.23);
}
