// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

.chat-hukidashi {
  display: inline-block; /*コメントの文字数に合わせて可変*/
  padding: 15px 20px;
  margin-left: 120px;
  margin-top: 10px;
  border: 1px solid gray;
  border-radius: 10px;
}
