// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.topic_content {
  border: medium solid #ff00ff;
  height: 50px;
  width: 200px;
}
