// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.topic_title {
  margin: 10px auto;
  text-align: center;
}

.topic_content {
  border: medium solid #0b314f;
  border-radius: 10px;
  height: 50px;
  margin: 0 auto 30px;
  width: 200px;
}

.topic_new {
  text-align: center;
}

.topic_form {
  display: block;
  margin: 0 auto;
}

.topic_form_input {
  display: block;
  margin: 0 auto;
}
