<!DOCTYPE html>
<html>
  <head>
    <title>BBSByRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="jumbotron text-center">
      <h1>Doppon掲示板</h1>
      <p>自由に書き込めて楽しくことができる掲示板を提供しています。</p> 
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
