<!DOCTYPE html>
<html>
  <head>
    <title>Atcoder Hub</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="jumbotron text-center">
      <h1>Atcoder Hub</h1>
      <p>本サイトは分からなかった問題の検討や議論を出来る場を提供しています。</p> 
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
